/* You can add global styles to this file, and also import other style files */

@import "./shared/scss/variables.scss";

*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: $dark;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: $font-size-md;
    line-height: $line-height-md;
    font-weight: 400;
}

